<div style="margin-bottom:8px">
    <div>
        <a href="/traits/trait/{{_id}}">{{skill.name}}</a> <small class="grey-text text-darken-1" style="float:right;">{{formatTraitType skill.type}}</small>
    </div>
    <div class="grey-text text-darken-1" style="font-size:0.9em">{{skill.description}}</div>
</div>