<div style="margin-bottom:8px">
    <div>
        <a href="/traits/trait/{{_id}}">{{{formatTraitPill skill}}}</a> <small class="grey-text text-darken-1" style="float:right;">{{formatTraitType skill.type}}</small>
    </div>
    <div class="grey-text text-darken-1" style="font-size:0.9em">{{formatTraitTooltip skill}}</div>
</div>