<div class="text-muted" style="width:40px; text-align:center;">{{label}}</div>
<div class="stat-square waves-effect waves-light {{#if improved}}improved tooltipped{{/if}}" style="text-align:center;" {{#if improved}}data-tooltip="Stat has been improved!" data-position="top"{{/if}}>
    {{value}}
</div>