<div class="stat-square-container" style="display: inline-flex; flex-direction: row; align-items: center; margin-bottom: 4px;">
    <div class="text-darken-1" style="width:40px; text-align:center;">
        <small>{{label}}</small>
        <div class="stat-square waves-effect waves-light {{#if improved}}improved tooltipped{{/if}}" style="text-align:center;" {{#if improved}}data-tooltip="Stat has been improved!" data-position="top"{{/if}}>
            {{value}}
        </div>
    </div>
</div>