<form id="{{formId}}" method="{{method}}" action="{{action}}">
    <div class="row">
        <div class="col s4">
            <div class="input-field">
                <select id="type" name="type" required>
                    <option value="1" {{#ifCond trait.type '==' '1'}}selected{{/ifCond}}>General</option>
                    <option value="2" {{#ifCond trait.type '==' '2'}}selected{{/ifCond}}>Item</option>
                    <option value="3" {{#ifCond trait.type '==' '3'}}selected{{/ifCond}}>Unit</option>
                    <option value="4" {{#ifCond trait.type '==' '4'}}selected{{/ifCond}}>Skill: Combat</option>
                    <option value="5" {{#ifCond trait.type '==' '5'}}selected{{/ifCond}}>Skill: Shooting</option>
                    <option value="6" {{#ifCond trait.type '==' '6'}}selected{{/ifCond}}>Skill: Academic</option>
                    <option value="7" {{#ifCond trait.type '==' '7'}}selected{{/ifCond}}>Skill: Strength</option>
                    <option value="8" {{#ifCond trait.type '==' '8'}}selected{{/ifCond}}>Skill: Speed</option>
                    <option value="9" {{#ifCond trait.type '==' '9'}}selected{{/ifCond}}>Skill: Special</option>
                    <option value="10" {{#ifCond trait.type '==' '10'}}selected{{/ifCond}}>Warband</option>
                </select>
                <label for="type" class="active">Type</label>
            </div>
        </div>
        <div class="col s8">
            <div class="input-field">
                <input id="name" name="name" type="text" value="{{trait.name}}" required>
                <label for="name" class="active">Name</label>
            </div>
        </div>
    </div>
    <div class="row">
        {{> field label="Description" name="description" type="text" col="s12" required=true}}
    </div>
    <button class="btn waves-effect waves-light" type="submit">Create Trait</button>
</form>