<form id="{{formId}}" method="{{method}}" action="{{action}}">
    {{> field label="Name" name="name" type="text" required=true}}
    {{> field_select label="Type" name="type" list=(unitTypes) selected=unit.type id="type" }}
    {{> field label="Description" name="description" type="text"}}
    {{> field label="Experience" name="experience" type="number" value="0" required=true col="s6"}}
    {{> field label="Gold" name="gold" type="number" value="0" required=true col="s6"}}

    {{> stat_block_form}}
    <button class="btn waves-effect waves-light" type="submit">Create Unit</button>
</form>