<form id="{{formId}}" method="{{method}}" action="{{action}}">
    {{> field label="Name" name="name" type="text" required=true}}
    {{> field_select label="Type" name="type" list=(unitTypes) selected=unit.type id="type" }}
    {{> field label="Description" name="description" type="text"}}
    {{> field label="Experience" name="experience" type="number" value="0" required=true col="s6"}}
    {{> field label="Gold" name="gold" type="number" value="0" required=true col="s6"}}
    {{> field label="Max Count In Warband (0 = no limit)" name="maxCount" type="number" value="0" required=true col="s6"}}
    <div class="col s6" style="margin-top:18px;">
        <label>
            <input type="checkbox" id="isUnique" name="isUnique">
            <span>Unique unit (can only be purchased once ever)</span>
        </label>
    </div>
    <div class="col s12">
        {{> field_select_multi list=skillTypeList selected=unit.skillAccess id="skillAccess" name="skillAccess" label="Skill Access"}}
    </div>

    {{> stat_block_form}}
    <button class="btn waves-effect waves-light" type="submit">Create Unit</button>
</form>