MONGODB_URI=mongodb://localhost:27017
PORT=5000
NODE_ENV=development
AUTH0_SECRET=8d38bf2cfbaf60cb29cf73c140d1b28f0a88b6198f80211a9b7c0354b1c2fff5
AUTH0_BASE_URL=http://localhost:5000
AUTH0_CLIENT_ID=bXpDiLOVueQQKFxIIOaaDcyW1My12xAR
AUTH0_CLIENT_SECRET=JQIr96FX2onC-VN1-pts7HCvT8V8bpqH6rwb520cx-QUxi9s4y2F4tlYlb5ujnSP
AUTH0_ISSUER_BASE_URL=https://dev-3e38rec2tgkqy10q.us.auth0.com/api/v2/
