<div class="section">
<h3>Dashboard</h3>

<table class="striped responsive-table" id="items-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Created</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
</div>

<script src="/js/dashboard.js"></script>
