
<form id="member-inventory-form" data-method="PATCH" action="/members/member/{{member._id}}/inventory">
    <div class="row">
        <table class="striped tight-rows" id="items-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Gold</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="card-action blue lighten-5">
        <div class="row" style="margin-bottom:0">
            <div class="col s6">
                <button id="add-item-btn" type="button" class="btn waves-effect waves-light" title="Add Item">
                    <i class="ra ra-sword"></i>
                    Add Item
                </button>
            </div>
            <div class="col s6 right-align">
                <span id="response-result"></span>
                <div class="btn-area">
                    <button class="btn waves-effect waves-light" type="submit">
                        <i class="ra ra-save"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    const EXISTING_LIST = {{#if inventory}}{{{json inventory}}}{{else}}[]{{/if}};
    const LOOKUP_LIST = {{{json items}}} || [];
</script>

<script src="/js/add-row.js"></script>
