<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <form id="trait-name-form" data-method="PATCH" action="/traits/trait/{{trait._id}}">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <div style="flex-grow:1">
                                <div class="row">
                                    <div class="col s4">
                                        <div class="input-field">
                                            <select id="type" name="type" required>
                                                <option value="1" {{#ifCond trait.type '==' '1'}}selected{{/ifCond}}>General</option>
                                                <option value="2" {{#ifCond trait.type '==' '2'}}selected{{/ifCond}}>Weapon</option>
                                                <option value="3" {{#ifCond trait.type '==' '3'}}selected{{/ifCond}}>Unit</option>
                                            </select>
                                            <label for="type" class="active">Type</label>
                                        </div>
                                    </div>
                                    <div class="col s8">
                                        <div class="input-field">
                                            <input id="name" name="name" type="text" value="{{trait.name}}" required>
                                            <label for="name" class="active">Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="input-field">
                                            <input id="description" name="description" type="text" value="{{trait.description}}" required>
                                            <label for="description" class="active">Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action blue lighten-5">
                    <div class="row" style="margin-bottom:0">
                        <div class="col s6">
                        </div>
                        <div class="col s6 right-align">
                            <div class="btn-area">
                                <button id="delete-trait-btn" type="button" class="btn waves-effect waves-light red"
                                    title="Delete trait">
                                    <i class="ra ra-tombstone"></i>
                                </button>
                                <button class="btn waves-effect waves-light" type="submit">
                                    <i class="ra ra-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>